@page
@model Disable2faModel
@{
    ViewData["Title"] = "Wyłącz autoryzację dwuetapową";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>To działanie wyłącza tylko uwierzytelnianie dwuskładnikowe (2FA).</strong>
    </p>
    <p>

        Wyłączenie uwierzytelniania dwuskładnikowego (2FA) nie zmienia kluczy używanych w aplikacjach uwierzytelniających. Jeśli chcesz zmienić klucz używany w aplikacji uwierzytelniającej, powinieneś: <a asp-page="./ResetAuthenticator">zresetować swoje klucze uwierzytelniające.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Disable 2FA</button>
    </form>
</div>
